.door {
  background-image: url("../../assets/images/video.mp4");
  opacity: 1;
  transition: opacity 5s ease-in-out;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 9999;
  overflow: hidden; 
}

.door.fade-out {
  opacity: 0;
  animation: fadeOut 5s forwards, zoomOut 5s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1);
    opacity: 1;
    filter: brightness(1);
  }
  to {
    transform: scale(1.5);
    opacity: 0;
    filter: brightness(10);
  }
}

@media (max-width: 600px) {
  .door {
    background-size: 100% 100%;
  }
}