@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

:root {
  --color-dark: #170e08;
  --color-brown: #524335;
  --color-gold: #ddb669;
  --color-cream: #f6f1d8;
}

body {
  font-family: "MedievalSharp", sans-serif;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--color-cream);
}

.page-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  filter: blur(5px);
  transition: filter 0.3s ease;
  z-index: -1;
}

.background-image.blurred {
  filter: blur(10px);
}

.age-verification {
  position: relative;
  text-align: center;
  color: var(--color-cream);
  padding: 30px;
  border-radius: 15px;
  z-index: 1;
  max-width: 600px;
  width: 90%;
}

.age-verification .warning {
  color: var(--color-gold);
  font-size: 28px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 3px var(--color-dark);
}

.age-verification button {
  background-color: var(--color-gold);
  color: var(--color-dark);
  padding: 15px 30px;
  border: 2px solid var(--color-dark);
  cursor: pointer;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 24px;
  font-family: "MedievalSharp", sans-serif;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.age-verification button:hover {
  transform: scale(1.1);
  background-color: var(--color-dark);
  color: var(--color-cream);
}
