@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

:root {
  --color-dark: #170e08;
  --color-brown: #524335;
  --color-gold: #ddb669;
  --color-cream: #f6f1d8;
}

*{
  box-sizing: border-box;
}

body {
  font-family: "MedievalSharp", sans-serif;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--color-cream);
}

.content-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 20px;
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -2;
}

.cartel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: auto;
  z-index: 2;
}

button {
  text-decoration: none;
  color: var(--color-dark);
  font-size: 19.2px;
  background-color: var(--color-cream);
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px var(--color-dark);
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
  font-family: "MedievalSharp", sans-serif;
  font-weight: bold;
}

button:hover {
  transform: scale(1.1);
  background-color: var(--color-dark);
  color: var(--color-cream);
}

.gallery-gallery-container {
  text-align: center;
  overflow-y: auto;
  height: 100vh;
  width: 100%;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.gallery-gallery-item {
  margin: 10px;
  cursor: pointer;
  text-align: center;
  width: calc(20% - 5px);
  box-sizing: border-box;
}

.gallery-filter-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.gallery-filter-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
}

.gallery-filter-buttons .gallery-active {
  background-color: var(--color-dark);
  color: var(--color-cream);
}

.gallery-card {
  background: var(--color-dark);
  color: var(--color-cream);
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%;
  border: 2px solid var(--color-gold);
  position: relative;
}

.gallery-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.gallery-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0,0,0,0.3);
}

.gallery-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-bottom: 2px solid var(--color-gold);
}

.gallery-card-content {
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.gallery-card-content h3 {
  margin: 0 0 10px 0;
  font-size: 24px;
  color: var(--color-gold);
  text-shadow: 1px 1px 2px var(--color-dark);
}

.gallery-card-content p {
  margin: 5px 0;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-cream);
}

.gallery-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.gallery-modal-content {
  margin: auto;
  display: block;
  max-width: 300px;
}

.gallery-close-modal {
  position: absolute;
  top: 15px;
  right: 35px;
  color: var(--color-cream);
  font-size: 60px;
  font-weight: bold;
  cursor: pointer;
}

.gallery-context-menu-warning {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--color-cream);
  padding: 10px;
  border-radius: 5px;
  z-index: 1002;
  text-align: center;
}

@media (max-width: 768px) {
  .gallery-gallery-item {
    width: 45%; 
  }
  .gallery-card-content h3, .gallery-card-content p {
    font-size: 19.2px; 
  }
  .gallery-filter-buttons button {
    padding: 12px 18px;
    font-size: 18px; 
  }
}

@media (max-width: 576px) {
  .gallery-gallery {
    flex-direction: column;
    align-items: center;
    
  }
  .gallery-gallery-item {
    width: 90%; 
  }
  .gallery-card img {
    height: auto; ;
  }
  .gallery-filter-buttons {
    flex-wrap: wrap;
    padding-bottom: 10px;
  }
  .gallery-filter-buttons button {
    padding: 12px 24px; 
    font-size: 17.6px; 
  }
  .gallery-filter-buttons button {
    padding: 15px 20px; 
    font-size: 16px;
    margin: 0 5px; 
  }
}

@media (max-width: 360px) {
  .gallery-gallery-item {
    width: 80%; 
    
  }
  .gallery-card img {
    height: auto; 
  }
  .gallery-filter-buttons button {
    padding: 5px 8px; 
    font-size: 12px; 
    margin: 0 2px; 
  }
  .gallery-card-content h3, .gallery-card-content p {
    font-size: 14.4px;
  }
}
