:root {
  --color-dark: #170e08;
  --color-brown: #524335;
  --color-gold: #ddb669;
  --color-cream: #f6f1d8;
}

.main-content {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  overflow-x: hidden; 
  overflow-y: hidden; 
}

.navigation-links-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: auto;
  justify-items: center;
  padding-bottom: 320px;
}

.navigation-link {
  padding: 10px 0px;
  text-decoration: none;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-cream);

}

.navigation-link.salida-custom-position {
  grid-column: 1 / -1; 
  position: relative;
  top: 100px;
  color: transparent; 
  cursor: pointer; 
}

.navigation-link.salida-custom-position:hover {
  color: transparent; 
}

.navigation-link:hover {
  color: var(--color-gold); 
  transform: scale(1.05); 
  transition: all 0.3s ease;
}

.navigation-link img {
  width: 150px; 
  height: auto; 
}

.image-hover-container {
  position: relative;
  display: inline-block;
}

.image-hover-container img {
  transition: transform 0.2s ease;
}

.image-hover-container:hover img {
  transform: scale(1);
}

.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-cream);
  font-size: 25px;
  text-align: center;
  text-shadow: 2px 2px 4px var(--color-dark);
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.image-hover-container:hover .hover-text {
  visibility: visible;
  opacity: 1;
}


