
.main-content {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  overflow-x: hidden; 
  overflow-y: hidden; 
}

.navigation-links-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  width: 30%;
  padding-bottom: 190px;
}

.navigation-link {
  padding: 20px 30px;
  text-decoration: none;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.obras-link {
  margin-top: -90px; 
  margin-right: 30px;
}

.exclusiva-link {
  margin-top: -90px; 
  margin-left: 20px;
}

.navigation-link img {
  width: 200px; 
  height: auto; 
}

.image-hover-container {
  position: relative;
  display: inline-block;
}

.image-hover-container img {
  transition: transform 0.2s ease;
}

.image-hover-container:hover img {
  transform: scale(1.1);
}

.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-hover-container:hover .hover-text {
  visibility: visible;
  opacity: 1;
}


.navigation-links-container {
  position: relative;
}

.salida-custom-position {
  position: absolute;
  top: 80px; 
  right: 200px; 
  bottom: -500px;
}

@media (max-width: 768px) {
  .main-content {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
  }

  .navigation-links-container {
    position: relative; 
    width: 80%;
    padding: 20px 0;
    text-align: center;
  }
  .navigation-link {
    padding: 20px 30px;
    text-decoration: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    transform: translateX(-50%);
  }


  /* Artista */
  .navigation-links-container .navigation-link:nth-child(1) {
    bottom: 415px; 
    left: 24.5%; 
  }

  /* Historia */
  .navigation-links-container .navigation-link:nth-child(2) {
    bottom: 415px;
    left: 75%; 
  }

  /* Obras */
  .navigation-links-container .navigation-link:nth-child(3) {
    bottom: 295px;
    left: 23.5%; 
  }

  /* Exclusiva */
  .navigation-links-container .navigation-link:nth-child(4) {
    bottom: 295px;
    left: 71%; 
  }

  /* Salida */
  .navigation-links-container .navigation-link:nth-child(5) {
    bottom: -320px;
    left: 45%; 
  }


  .navigation-link img {
    width: 118px;
    height: auto;
  }
}