:root {
  --color-dark: #170e08;
  --color-brown: #524335;
  --color-gold: #ddb669;
  --color-cream: #f6f1d8;
}

.page-content {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-cream);
  font-family: "MedievalSharp", sans-serif;
  position: relative;
  overflow: hidden;
}

.page-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../assets/images/pag1.jpeg') center/cover no-repeat;
  filter: blur(3px);
  z-index: -1;
}

.text-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marco-image {
  max-width: 95%;
  height: auto;
  display: block;
}

.text-wrapper {
  position: absolute;
  width: 100%;
  max-width: 750px;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
}

.titulo {
  margin: 0;
  font-size: 2.67rem;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.texto {
  margin-top: 1rem;
  font-size: 2rem;
}

@media (max-width: 1300px) {
  .titulo {
    font-size: 2rem;
  }
  .text-wrapper {
    max-width: 60%;
  }
  .texto {
    font-size: 1.65rem;
  }
}

@media (max-width: 1024px) {
  .titulo {
    font-size: 1.9rem;
    padding-top: 20px;
  }
  .text-wrapper {
    max-width: 65%;
  }
  .texto {
    font-size: 1.5rem;
  }
}

@media (max-width: 900px) {
  .titulo {
    font-size: 1.7rem;
    padding-top: 10px;
  }
  .text-wrapper {
    max-width: 65%;
  }
  .texto {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  .marco-image {
    width: auto;
    height: 70%;
  }
 
  .text-wrapper {
    width: 90%;
    max-width: 400px;
    padding: 10px;
  }

  .titulo {
    font-size: 2rem;
  }

  .texto {
    font-size: 1.25rem;
  }
}
@media (max-width: 576px) {
  .marco-image {
    width: auto;
    height: 75%;
  }
  .cartel-image {
    display: none;
  }
 
  .text-wrapper {
    max-width: 60%;
  }

  .titulo {
    font-size: 1.5rem;
    padding-top: 20px;
  }

  .texto {
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  .marco-image {
    width: auto;
    height: 80%;
  }
 
  .text-wrapper {
    max-width: 65%;
  }

  .titulo {
    font-size: 1.5rem;
    padding-top: 20px;
  }

  .texto {
    font-size: 1rem;
  }
}










